.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;

  &__photo-card {
    margin: 5px;
    display: inline;
  }
  &__info {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    font-weight: 700;
  }
}
